<!-- Main template -->
<div class="main-home">
    <section class="tutorials">
        <div class="mainWrapper">
            <form method="GET" id="searchForm">
                <div class="searchBar">
                    <input type="text" class="textInput" name="keyword" placeholder="Search a post">
                    <input type="submit" class="submit" value="Search">
                </div>
            </form>
            <div class="message"></div>
            <a href="/create"><button>Create a new post</button></a> 

            <!-- Here will spawn all the blog posts -->

            <div class="tutorialsContainer"></div> 
        </div>
    </section>
</div>